@import "nord.css";

.custom-navbar {
    background-color: white !important;
}

/*
body {
    background-color: var(--nord6) !important;
}
*/

h1,h2,h3,h4,h5,h6 {
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0px;
}

.ch1 {
  color: var(--nord2);
  font-weight:bold;
  font-size: 45px;
  line-height: normal;
  margin-bottom: 45px;
}

.ch2 {
  color: var(--nord2);
  font-size: 35px;
  line-height: 52px;
  margin-top: 0px;
}

.ch3 {
  color: var(--nord2);
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 6px;
  text-transform: uppercase;
}

.ch4 {
  color: var(--nord2);
  font-size: 20px;
}

.cp {
  color: var(--nord2) !important;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  letter-spacing: 0.2px;
}

.custom-navlink li a {
    font-size: 14px;
    font-weight: bold;
    color: var(--nord1);
    letter-spacing: 1px;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
    padding: 0 12px;
    margin: 15px 8px;
}

.custom-navlink a.nav-link:hover{
    color:var(--nord10) !important;
}
