@import "nord.css";

.custom-navbar {
    background-color: white !important;
}

/*
body {
    background-color: var(--nord6) !important;
}
*/

.custom-navlink li a {
    font-size: 12px;
    font-weight: bold;
    color: var(--nord1);
    letter-spacing: 1px;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
    padding: 0 12px;
    margin: 15px 8px;
}

.custom-navlink a.nav-link:hover{
    color:var(--nord10);
}
